.blog-search {
  position: relative;
  max-width: 370px;
  margin: 0 auto;

  input{
    height: 40px;
    width: 100%;
    padding: 0 45px 0 25px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.13);
    @include roboto;
    font-size: 16px;
  }

  button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;

    svg {
      width: 20px;
      height: 20px;

      g{
        fill: #F15C22;
      }

    }

  }

}
@media (min-width: $phone-landscape) {
  .blog-search {

  }
}
@media (min-width: $tablet-portrait) {
  .blog-search {

  }
}
@media (min-width: $tablet-landscape) {
  .blog-search {

  }
}
@media (min-width: $desktop) {
  .blog-search {

  }
}

