#mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc( 100% - 60px );
  padding: 0 25px 25px;
  transform: translateX( 100% );
  overflow: hidden;
  z-index: 2;
  background-color: rgba(255,255,255,.99);
  transition: transform .3s ease;

  & > * {
    width: 100%;
  }

  &-btn{
    display: block;
    position: relative;
    width: 20px;
    height: 14px;
    z-index: 3;

    hr {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      margin: 0;
      border: none;
      background-color: #000;
      border-radius: 2px;
      opacity: 1;
      left: 0;
      transition: all .3s ease;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: calc( 50% - 1px );
      }

      &:nth-child(4) {
        top: calc( 100% - 2px );
      }

    }

    &.is-active hr{

      &:nth-child(1) {
        top: calc( 50% - 1px );
        width: 0;
        left: 50%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        bottom: calc( 50% - 1px );
        width: 0;
        left: 50%;
      }

    }

  }

  &.is-show{
    transform: translateX( 0 );
  }

}
@media (min-width: $phone-landscape) {
  #mobile-menu {
    padding: 0 15px 15px;
  }
}
@media (min-width: $tablet-portrait) {
  #mobile-menu {
    padding: 0 15px 25px;
  }
}
@media (min-width: $tablet-landscape) {
  #mobile-menu {
    flex-direction: row;
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
    padding: 0;
    transform: none;
    overflow: visible;
    background-color: transparent;
    order: 1;

    & > * {
      width: auto;
    }

    &-btn {
      display: none;
    }

  }
}
@media (min-width: $desktop) {
  #mobile-menu {

  }
}