.popup__video {
  width: 100%;
  max-width: 1000px;

  iframe{
    width: 100%;
    max-height: 92vh;
    margin: 0 auto;
    transition: height .3s ease, opacity .3s ease;
  }

}
@media (min-width: $phone-landscape) {
  .popup__video {

  }
}
@media (min-width: $tablet-portrait) {
  .popup__video {

  }
}
@media (min-width: $tablet-landscape) {
  .popup__video {

  }
}
@media (min-width: $desktop) {
  .popup__video {

  }
}